* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.contenedor-form {
    background-color: rgba(253, 73, 23, 0.39);
    max-width: 768px;
    padding: 30px;
    border-radius: 5px;
    margin: auto;
    
}

.formulario-pedidos {
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.formulario-info {
    display: block;
    text-align: center;

}

input[type=text], input[type=email], [type=tel]{
    background-color: blanchedalmond;
    padding: 3px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
}

input[type=checkbox] {
    text-align: center;
}

label[for=Boxs] {
    display: block;
    padding-left: 15px;
    text-indent: -15px;

}

input[id=Boxs] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.button-conteiner {
    text-align: center;
    display: flex;
    margin-bottom: 30px;
}

button {
    
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    outline: none;
    margin: auto;
}

hr {
    border: 1px solid blanchedalmond;
    background-color: rgb(244, 184, 124);
}

h3, h1, hr {
    margin: 10px;
    text-align: center;
}

.estilo {
    color: black;
    text-decoration:underline;
}

#description {
    padding: 10px;
}